<div class="detail">
  <div class="description">
    <p class="paragraph">
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi dignissimos debitis ratione sapiente saepe. Accusantium
      cumque, quas, ut corporis incidunt deserunt quae architecto voluptate.
    </p>
    <p class="paragraph">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi dignissimos debitis ratione sapiente saepe. Accusantium
      cumque, quas, ut corporis incidunt deserunt quae architecto voluptate.
    </p>
    <ul class="list">
      <li class="list__item">this and that</li>
      <li class="list__item">ahahaahahaa</li>
      <li class="list__item">entertainment law</li>
      <li class="list__item">im so tired of these</li>
      <li class="list__item">hello am programmer</li>
      <li class="list__item">dragonborn!!!</li>
      <li class="list__item">ahhhahhhaaaaaaa oo</li>
      <li class="list__item">ahhh ahhha la la la</li>
    </ul>
    <div class="recommend">
      <p class="recommend__count">
        Jeff and 3 other friends recommend this hotel.
      </p>
      <div class="recommend__friends">
        <img src="assets/img/user-3.jpg" alt="Friend 1" class="recommend__photo">
        <img src="assets/img/user-4.jpg" alt="Friend 2" class="recommend__photo">
        <img src="assets/img/user-5.jpg" alt="Friend 3" class="recommend__photo">
        <img src="assets/img/user-6.jpg" alt="Friend 4" class="recommend__photo">
      </div>
    </div>
  </div>

  <div class="user-options">
    User Options go here
  </div>
</div>