@import '~sass/_mixins.scss';
@import '~sass/_base.scss';
// User Navigation Menu
@include ngflexbox;
@include ngalign-self(stretch);
.user-nav {
  @include flexbox;
  @include align-items(center);

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    @include flexbox;
    @include align-items(center);
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.2rem;

    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
  }

  &__user-name {

  }
}