@import '~sass/_mixins.scss';
@import '~sass/_base.scss';

@include ngflex(1);
@include ngflexbox;

.document-view {
  background-color: #fff;
  @include flex(1);
}

.gallery {
  @include flexbox;
  &__photo {
    width: 100%;
    display: block;
  }
}


// Main overview panel
.overview {
  @include flexbox;
  @include align-items(center);
  border-bottom: 1px solid var(--color-grey-light-2);

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.6rem;
      padding: 1.25rem 2rem;
    }
  }

  &__stars {
    /* boxes in flex elements */
    margin-right: auto;
    @include flexbox;
  }

  &__icon-star,
  &__icon-location {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    // @include flex(1);
    font-size: 1.2rem;
    @include flexbox;
    @include align-items(center);
  }

  &__icon-location {
    margin-right: .5rem;
  }

  &__rating {
    background-color: var(--color-primary);
    margin-left: 3rem;
    padding: 0 2.25rem;
    color: #fff;
    @include align-self(stretch);

    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);

    @media only screen and (max-width: $bp-small) {
      padding: 0 1.5rem;
    }
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.6rem;
    }
  }

  &__rating-count {
    font-size: .8rem;
    text-transform: uppercase;

    @media only screen and (max-width: $bp-small) {
      font-size: .5rem;
    }
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0,0,0, .25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
