@import '~sass/_mixins.scss';

@include ngflex(1);
@include ngflexbox;

.document-view {
  background-color: #fff;
  
  height: 80rem;
  @include flex(1);
}

.gallery {
  @include flexbox;
  &__photo {
    width: 100%;
    display: block;
  }
}


// Main overview panel
.overview {
  @include flexbox;
  border-bottom: 1px solid var(--color-grey-light-2);

  &__heading {

  }

  &__stars {
    /* boxes in flex elements */
    margin-right: auto;
  }

  &__icon-star,
  &__icon-location {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    // @include flex(1);
  }

  &__rating {

  }

  &__rating-average {

  }

  &__rating-count {

  }
}